@model FoodApp.ViewModels.FutarRendelesKezelViewModel

@{
    ViewData["Title"] = "Futár Kezelése";
}

<div class="container p-3 testimonial-group">
    <div class="col text-center">
        <h5>Kész Rendelések</h5>
    </div>
    <div id="sourcee" class="row p-2 text-center">
        @foreach (var rendeles in Model.Rendelesek)
        {
            <div class="col-md-3 source">
                <div class="card text-left">
                    <div class="card-header">
                        <h5>@rendeles.RendelesAdatok.VezetekNev @rendeles.RendelesAdatok.KeresztNev</h5>
                        <h6>@rendeles.RendelesAdatok.Iranyitoszam @rendeles.RendelesAdatok.Varos @rendeles.RendelesAdatok.Cim</h6>
                    </div>
                    <div class="card-body">
                        @foreach (var etel in rendeles.RendelesEtelek)
                        {
                            <div class="row justify-content-between">
                                <p>@etel.Etlap.Nev x @etel.Darab</p>
                                <p>@{int total = etel.Darab * etel.Etlap.Ar;} @total Ft </p>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <p>@rendeles.RendelesAdatok.RendelesIdo</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br>
<br>
<div class="container pt-3 testimonial-group">
    <div id="targete" class="row text-center">
    </div>
</div>

<script>
    $(document).on('click', '.col-md-3.source', function () {
        $("#targete").append(this);
        $(this).removeClass("source").addClass("target");
        return false;
    });
    $(document).on('click', '.col-md-3.target', function () {
        $("#sourcee").append(this);
        $(this).removeClass("target").addClass("source");
        return false;
    });
</script>