@model IEnumerable<FoodApp.ViewModels.FutarViewModel>

@{
    ViewData["Title"] = "Futárok";
}

@foreach (var item in Model) 
{
    <div class="card m-3">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h5>@item.Futar.Vezeteknev @item.Futar.Keresztnev</h5>
                <p>Munkajármű: @item.Futar.Jarmu</p>
            </div>
            </div>
        <div class="card-body">
            <p>Város: @item.Futar.Varos</p>
            <p>Telefonszám: @item.Futar.Telefonszam</p>
            <p>Munkaidő: @item.Futar.Kezdes.ToString("HH:mm") - @item.Futar.Vegzes.ToString("HH:mm")</p>
            <p>Jelenleg @item.Rendelesek db rendelése van a futárnak</p>
        </div>
        <div class="card-footer">
            @if(item.Elerheto == true)
                {
                     <a class="btn btn-secondary" asp-action="FutarRendelesKezel" asp-route-Futarid="@item.Futar.FutarId">Rendelések, csomagok kezelése</a>
                }
            else 
                {
                <p>A futár jelenleg nem dolgozik.</p>
                }
        </div>
        </div>
}