@model IEnumerable<FoodApp.Models.Etlap>

@{
    ViewData["Title"] = "Étlap";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Név
            </th>
            <th>
                Kategória
            </th>
            <th>
                Ár
            </th>
            <th>
                Allergén
            </th>
            <th>
                Leírás
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ar) Ft
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allergen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leiras)
                </td>
                <td>
                    <a class="btn btn-success" id="cartButton" asp-controller="Kocsi" asp-action="AddToKocsi" asp-route-id="@item.ID">Kosárba</a>
</td>
            </tr>
        }
    </tbody>
</table>
