@model IEnumerable<FoodApp.ViewModels.RendelesEtteremViewModel>

@{
    ViewData["Title"] = "Rendelések";
}
@{
    FoodApp.ViewModels.RendelesEtteremViewModel model1 = new FoodApp.ViewModels.RendelesEtteremViewModel();
}

@{model1.SegedValtozo = 0; }
@foreach (var rendeles in Model)
{
    model1.SegedValtozo++;
<div class="card">
    <div class="card-header">
        <h5>@rendeles.RendelesAdatok.VezetekNev @rendeles.RendelesAdatok.KeresztNev</h5>
    </div>
    <div class="card-body">
        <h6 class="card-title">@rendeles.RendelesAdatok.Iranyitoszam @rendeles.RendelesAdatok.Varos @rendeles.RendelesAdatok.Cim</h6>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var etel in rendeles.RendelesEtelek)
        {
            <li class="list-group-item">@etel.Darab x @etel.Etlap.Nev / @{int total = etel.Darab * etel.Etlap.Ar;} @total Ft </li>
        }

    </ul>
    <div class="card-body">
        <p class="card-text">Összesen: @rendeles.RendelesTotal Ft</p>
    </div>
    <div class="card-body">
        @if (rendeles.Stat.RenStatus == Status.Pending)
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Megrendelem!</button>
            <button class="btn btn-danger">Elutasít</button>
        }
        @if (rendeles.Stat.RenStatus == Status.Accepted)
        {
            <h5>Elfogadva</h5>
        }
        @if (rendeles.Stat.RenStatus == Status.Declined)
        {
            <h5>Elutasitva</h5>
        }
        </div>
    
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Rendelés megerősítése</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Mégsem">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <form method="post" asp-action="RendelesElfogad" asp-route-statId="@rendeles.Stat.RendelesStatusId" asp-route-Compdate="compdate">
                        <input class="form-control" type="time" name="compdate" />
                        <button class="btn btn-success" type="submit">Elfogad</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>
    <br>
}
@{
    if (model1.SegedValtozo == 0)
    {
        <div class="card">
            <div class="card-header">
                <h5>Jelenleg nincs egy rendelésünk sem.</h5>
            </div>
        </div>
        <br>
    }
}
