@model FoodApp.Models.VendegCim

@{
    ViewData["Title"] = "Cím törlése";
}

<h1>Törlés</h1>

<h3>Biztos, hogy törölni szeretné a címet?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VezetekNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VezetekNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeresztNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeresztNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Varos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Varos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iranyitoszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iranyitoszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonszam)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VendegCimId" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a címekhez</a>
    </form>
</div>
