@model FoodApp.Models.VendegCim

@{
    ViewData["Title"] = "Details";
}

<h1>Részletek</h1>

<div class="img-thumbnail">
    <h4>Cím részletei</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VezetekNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VezetekNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeresztNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeresztNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Varos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Varos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iranyitoszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iranyitoszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonszam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendegCimId">Módosítás</a> |
    <a asp-action="Index">Vissza a címekhez</a>
</div>
