@model FoodApp.Models.Etlap

@{
    ViewData["Title"] = "Delete";
}

<h1>Törlés</h1>

<h3>Biztosan ki akarja törölni az ételt?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Kategória
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategoria)
        </dd>
        <dt class = "col-sm-2">
            Név
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nev)
        </dd>
        <dt class = "col-sm-2">
            Ár
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ar) Ft
        </dd>
        <dt class = "col-sm-2">
            Allergén
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergen)
        </dd>
        <dt class = "col-sm-2">
            Leírás
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Leiras)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza az ételekhez</a>
    </form>
</div>
