@model IEnumerable<FoodApp.Models.Etlap>

@{
    ViewData["Title"] = "Index";
}
<div class="img-thumbnail">
    <h1>Étlap kezelés</h1>

    <p>
        <a asp-action="Create">Új étel hozzáadása</a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Etlaps" asp-action="ShowSearchForm">Keresés</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Név
                </th>
                <th>
                    Kategória
                </th>
                <th>
                    Ár
                </th>
                <th>
                    Allergén
                </th>
                <th>
                    Leírás
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ar) Ft
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Leiras)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Módosítás</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Részletek</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Törlés</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
