@model IEnumerable<FoodApp.Models.Etlap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allergen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leiras)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allergen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leiras)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
