@model FoodApp.ViewModels.KocsiViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<div class="row checkoutForm">
    <h2>Your shopping cart</h2><br>
    <h4>Here are the drinks in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Drink</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.kocsi.KocsiItems)
            {
                <tr>
                    <td class="text-center">
                        <span><a asp-controller="Kocsi" asp-action="AddtoKocsi" asp-route-id="@line.Etel.ID">+</a></span>
                        <span>@line.Darab</span>
                        <span><a asp-controller="Kocsi" asp-action="DeleteFromKocsi" asp-route-id="@line.Etel.ID">-</a></span>
                    </td>
                    <td class="text-left">@line.Etel.Nev</td>
                    <td class="text-right">@line.Etel.Ar.ToString("c")</td>
                    <td class="text-right">
                        @((line.Darab * line.Etel.Ar).ToString("c"))
                    </td>
                    <td class="text-center"><a class="btn btn-primary" asp-controller="Kocsi" asp-action="DeleteAll" asp-route-id="@line.Etel.ID">Törlés</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.kocsiTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out(not working)</a>
            }
            else 
            { 
                <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out(not working) Vendegként</a>
            }

        </div>
    </div>
</div>